/DDMessageCallback.v12.suo
/DDMessageCallback/bin
/DDMessageCallback/obj
/DDMessageCallback/Properties
/DDMessageCallback/Web.Debug.config
/DDMessageCallback/Web.Release.config
/DDMessageCallback/DDMessageCallback.csproj.user
