<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=dbhost;Initial Catalog=dbname;Persist Security Info=True;User ID=user;Password=password" providerName="SQLSERVER" />
  </connectionStrings>
  <appSettings>
    <!--钉钉接口地址-->
    <add key="DDHost" value="https://oapi.dingtalk.com/" />
    <!--钉钉接口corpid-->
    <add key="DD_corpid" value="" />
    <!--钉钉接口orpsecret-->
    <add key="DD_corpsecret" value="" />
    <!--SuiteToken 注册钉钉回调事件时使用Token  随机-->
    <add key="SuiteToken" value="" />
    <!--Suiteaes_key 注册钉钉回调事件时使用的数据加密秘钥ENCODING_AES_KEY  43位-->
    <add key="Suiteaes_key" value="" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
</configuration>